[core]
	autocrlf = false
	eol = lf
	editor = nvim
  excludesfile = ~/.gitexcludes
[push]
	default = matching
[color]
	ui = auto

[log]
	decorate = true
[user]
	email = alexrah@gmail.com
	name = Alessandro Stoppato
