[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "bundle/vim-php-manual"]
	path = bundle/vim-php-manual
	url = https://github.com/alvan/vim-php-manual
[submodule "bundle/vim-symfony"]
	path = bundle/vim-symfony
	url = https://github.com/docteurklein/vim-symfony
